<div class="body">
    <div class="container">
        <div class="login-btn col-md-7 col-sm-7 col-xs-7"> 
            <a routerLink="/login-encadrant" class="btn btn-sm animated-button victoria-four">VOUS ETES UN ENCADRANT</a> 
        </div>
        <div class="login-btn col-md-7 col-sm-7 col-xs-7"> 
            <a routerLink="/login-etudiant" class="btn btn-sm animated-button victoria-four">VOUS ETES UN ETUDIANT</a> 
        </div>
        <div class="login-btn col-md-7 col-sm-7 col-xs-7"> 
            <a routerLink="/list-sujet-public" class="btn btn-sm animated-button victoria-four">LISTE DES PFE</a> 
        </div>
    </div>
</div>




