
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ddd;
  }
  
  .list {
      text-align: center;
      max-width: 700px;
      
    }

    input[type="date"]{
      background-color: #58abff;
      padding: 15px;
      font-family: "Roboto Mono",monospace;
      color: #ffffff;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 5px;
      width: 30%;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 16px;
  }
  ::-webkit-calendar-picker-indicator{
      background-color: #ffffff;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  border-radius: 4px;
  cursor: pointer;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.cont {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}