<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Sujet </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nom du Sujet</label>
                        <input type="text" class="form-control" id="nomSujet" [(ngModel)]="sujet.nomSujet"
                            name="nomSujet">
                    </div>

                    <div class="form-group">
                        <label> Description</label>
                        <input type="text" class="form-control" id="description" [(ngModel)]="sujet.description"
                            name="discription">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>