<!-- <div *ngIf="isAuthenticated" class="card" style="width: 100%;">
    <div class="card-header">
      Bonjour {{sessionStorage.getItem('encadrantFirstName')}} {{sessionStorage.getItem('encadrantSecondName')}},
    </div>
    <ul class="list-group list-group-flush">
      <li *ngIf="isConfirmed" class="list-group-item">Heureux de vous annoncer que votre compte est activé !</li>
      <li *ngIf="!isConfirmed" class="list-group-item">Malheureusement, votre compte n'est pas encore activé !</li>
      <a routerLink="/encadrant-deconnect" (click)="clear()"><li class="list-group-item">Se déconnecter</li></a>
    </ul>
</div> -->
<ul *ngIf="isAuthenticated">
  <li><a href="http://www.fst.ac.ma/site/" >FS-Tétouan</a></li>
  <li><a></a></li>
  <li><a></a></li>
  <li><a></a></li>
  <li><a></a></li>
  <li><a href="/espace-encadrant/liste-sujets-e">Liste des sujets</a></li>
  <li><a href="/encadrant-deconnect" (click)="clear()">Logout</a></li>
  <li style="float:right;"><a>Bonjour {{sessionStorage.getItem('encadrantFirstName')}} {{sessionStorage.getItem('encadrantSecondName')}}</a></li>
</ul>